/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    color: #333;
}

/* Header styles */
header {
    background-color: #283593;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    box-sizing: border-box;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Section styles */
section {
    padding: 20px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 15px;
    color: #283593;
}

section h3 {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 17px;
    position: relative;
    background-color:  #283593; 
    color: white;
}

/* Button styles */
button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5c6bc0;
}

/* List styles */
ol {
    margin-left: 20px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #283593;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}